body {
    background-color: #202020;
    color: #BCBCBC;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 150%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    font-family: "Noto Serif JP", "Meiryo", serif;
}

.container {
    position: fixed;
    top: 3px;
    right: 5px;
    display: inline-block;
}

.container>div {
    display: inline-block;
}

.line_box {
    margin-top: 24px;
}

.undoed_line {
    animation-name: shine;
    animation-duration: .5s;
}

@keyframes shine {
    from {
        background-color: #8665af;
    }

    to {
        background-color: transparent;
    }
}

.remove_button {
    background-color: rgba(25, 25, 25, 0.0);
    color: #9d9d9d;
    display: inline-block;
    font-size: .5em;
    line-height: 100%;
    margin-left: 8px;
    margin-bottom: 2px;
    padding: 5px;
    visibility: hidden;
}

.line_box:hover>.remove_button {
    visibility: visible;
}

#counter {
    text-align: right;
}

#remove_button {
    background-color: rgba(25, 25, 25, 0.8);
    color: #9d9d9d;
    font-size: .5em;
    line-height: 100%;
    float: right;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    cursor: hand;
}

#clear_button {
    background-color: rgba(25, 25, 25, 0.8);
    color: #9d9d9d;
    font-size: .5em;
    line-height: 100%;
    float: right;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    cursor: hand;
}

#undo_button {
    background-color: rgba(25, 25, 25, 0.8);
    color: #9d9d9d;
    font-size: .5em;
    line-height: 100%;
    float: right;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    cursor: hand;
}

#counter-container {
    cursor: pointer;
    background-color: rgba(25, 25, 25, 0.8);
    color: #9d9d9d;
    font-size: .5em;
    line-height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#detailed-counter {
    display: none;
    text-align: right;
}

#detailed-counter div {
    margin-top: 7;
}

#detailed-counter span {
    float: left;
    margin-right: 5px;
}

#settings {
    position: fixed;
    font-size: .5em !important;
    background-color: rgba(25, 25, 25, 0.8);
    padding: 0 5px;
    right: 15;
    bottom: 15;
}

#font-size-input {
    margin-left: auto;
    font-size: .6rem;
    right: 0;
    color: white;
    background-color: transparent;
    width: 2.5rem;
    margin-left: 1.35rem;
    border: #686868 1px solid;
}

select {
    font-size: 1em !important;
    background-color: rgba(25, 25, 25, 0.8);
    color: white;
    font-family: "Noto Sans JP";
}